@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(20% 0 0);
  --color-base-200: oklch(13% 0.028 261.692);
  --color-base-300: oklch(12% 0.042 264.695);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: #801518;
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(45% 0.187 3.815);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #15807d;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* remove white focus border from inputs */
input:focus, 
textarea:focus, 
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* specifically for DaisyUI components */
.input:focus, 
.select:focus, 
.textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

select,
select:focus,
select:active,
select.select,
select.select:focus,
select.select:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

/* remove daisyUI focus styles */
.select:focus-visible {
  outline: none !important;
  outline-offset: 0 !important;
}
